/* Plugin-specific global styles (loaded from global.css). */
:root,
:host {
  --my-internal-primary: var(--oscd-theme-primary, #2aa198);
  --my-internal-secondary: var(--oscd-theme-secondary, #6c71c4);
  --my-internal-error: var(--oscd-theme-error, #dc322f);
  --my-internal-warning: var(--oscd-theme-warning, #b58900);

  --my-internal-base03: var(--oscd-theme-base03, light-dark(#002b36, #fdf6e3));
  --my-internal-base02: var(--oscd-theme-base02, light-dark(#073642, #eee8d5));
  --my-internal-base01: var(--oscd-theme-base01, light-dark(#586e75, #93a1a1));
  --my-internal-base00: var(--oscd-theme-base00, light-dark(#657b83, #839496));
  --my-internal-base0: var(--oscd-theme-base0, light-dark(#839496, #657b83));
  --my-internal-base1: var(--oscd-theme-base1, light-dark(#93a1a1, #586e75));
  --my-internal-base2: var(--oscd-theme-base2, light-dark(#eee8d5, #073642));
  --my-internal-base3: var(--oscd-theme-base3, light-dark(#fdf6e3, #002b36));

  --my-internal-yellow: var(--oscd-theme-yellow, #b58900);
  --my-internal-orange: var(--oscd-theme-orange, #cb4b16);
  --my-internal-red: var(--oscd-theme-red, #dc322f);
  --my-internal-magenta: var(--oscd-theme-magenta, #d33682);
  --my-internal-violet: var(--oscd-theme-violet, #6c71c4);
  --my-internal-blue: var(--oscd-theme-blue, #268bd2);
  --my-internal-cyan: var(--oscd-theme-cyan, #2aa198);
  --my-internal-green: var(--oscd-theme-green, #859900);

  --my-internal-text-font: var(--oscd-theme-text-font, 'Roboto');
  --my-internal-icon-font: var(--oscd-theme-icon-font, 'Material Icons');

}